DJANGO_SECRET_KEY=django-insecure-super-secret-key-change-me
POSTGRES_DB=your_db_name
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_username
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB